{% extends "base.html" %}
{% block content %}
<h1 class="text-3xl font-bold mb-6 text-center">Experience</h1>

<div class="timeline-container">
  <div class="timeline-item left">
    <div class="content">
      <h2>ICICI Bank | 3i-Infotech</h2>
		<h3>Business Analyst</h3>
			<h4>Apr 2025 - Present</h4>
      <p>Business Analyst at XYZ Company – Managed iMaintain application, collaborated with cross-functional teams, gathered requirements, and ensured smooth release cycles.</p>
    </div>
  </div>

  <div class="timeline-item right">
    <div class="content">
      <h2>ICICI Bank | Wipro</h2>
		<h3>Business Analyst</h3>
			<h4>Jan 2023 - Mar 2025</h4>
      <p>Started learning Python and SQL – Built small data projects and dashboards in Power BI and Tableau to automate reporting processes.</p>
    </div>
  </div>

  <div class="timeline-item left">
    <div class="content">
       <h2>ICICI Bank | InfiniMinds</h2>
		<h3>Business Analyst</h3>
			<h4>Jul 2022 - Jan 2023</h4>
      <p>Worked on cloud migration project – Gained exposure to Azure concepts and collaborated with infra team on ARCON PAM integration.</p>
    </div>
  </div>
  
  <div class="timeline-item right">
    <div class="content">
      <h2>Amazon</h2>
		<h3> Associate</h3>
			<h4>May 2022 - Jun 2022</h4>
      <p>
	  <li> Preparing and updating SOPs with user issues for faster resolution and quicker TurnAroundTime, Stakeholder and Escalations Management</li>	  
	  </p>
    </div>
  </div>
  
   <div class="timeline-item left">
    <div class="content">
      <h2>Ernst & Young Global Consulting Services</h2>
		<h3>Analyst</h3>
			<h4> May 2021 - Oct 2021 </h4>
      <p> 
			<li>Solutions analysis, with a focus on eliciting and documenting business and data flow requirements </li>
				<li>Proficiency in data fluency, including experience with data extraction, interpretation, and making data-informed decisions</li>
</p>
    </div>
  </div>
</div>

{% endblock %}
