{% extends "base.html" %}
{% block content %}

<div class="skills-container">
    <h1>Technical Skills</h1>
    <ul class="flex-list">
        <li>
            <strong>Advanced</strong>
            <div class="skill-set">
                <div class="skill-item">
                    <img src="/static/images/excel.png" alt="Excel" class="skill-logo">
                    <span class="skill-label">Excel</span>
                </div>
                <div class="skill-item">
                    <img src="/static/images/PowerBI.png" alt="PowerBI" class="skill-logo">
                    <span class="skill-label">PowerBI</span>
                </div>
                <div class="skill-item">
                    <img src="/static/images/JIRA.png" alt="JIRA" class="skill-logo">
                    <span class="skill-label">JIRA</span>
                </div>
				<div class="skill-item">
                    <img src="/static/images/PowerPoint.png" alt="PowerPoint" class="skill-logo">
                    <span class="skill-label">PowerPoint</span>
                </div>
				<div class="skill-item">
                    <img src="/static/images/MSWord.png" alt="MSWord" class="skill-logo">
                    <span class="skill-label">MSWord</span>
                </div>
            </div>
        </li>

        <li>
            <strong>Intermediary</strong>
            <div class="skill-set">
                <div class="skill-item">
                    <img src="/static/images/SQL.png" alt="SQL" class="skill-logo">
                    <span class="skill-label">SQL</span>
                </div>
                <div class="skill-item">
                    <img src="/static/images/Postman.png" alt="Postman" class="skill-logo">
                    <span class="skill-label">Postman</span>
                </div>
                
            </div>
        </li>

        <li>
            <strong>Beginner</strong>
            <div class="skill-set">
                <div class="skill-item">
                    <img src="/static/images/python.png" alt="python" class="skill-logo">
                    <span class="skill-label">Python</span>
                </div>
                <div class="skill-item">
                    <img src="/static/images/html.png" alt="html" class="skill-logo">
                    <span class="skill-label">html</span>
                </div>
				<div class="skill-item">
                    <img src="/static/images/css.png" alt="css" class="skill-logo">
                    <span class="skill-label">css</span>
                </div>
            </div>
        </li>
    </ul>
</div>



<!--<div class="skills-container">
    <h1>Expertise</h1>
    <ul class="flex-list">
        <li>
            <strong>Data Analysis</strong>
            <div class="skill-set">
                <div class="skill-item">
					<li>Data Mining</li>
					<li>Data Cleaning</li>
					<li>Data Sorting</li>
					<li>Data Visualisation</li>
					<li>Data Intepretation</li
						<span class="skill-label">Data Mining</span>
				</div>>-->
{% endblock %}
